

/* @media (prefers-reduced-motion: no-preference) {
    .header {
        height: var(--header-scrolling-height);
        transform: translateY(0px);
        box-shadow: 0 10px 30px -10px var(--header-box-shadow-color);
    }
}  */

.header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: var(--header-height);
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}

.headerScrollDown {
    height: var(--header-scrolling-height);
    transform: translateY(calc(var(--header-scrolling-height) * -1));
    background-color: var(--darker-background);
    box-shadow: 0 10px 30px -10px var(--header-box-shadow-color);
}

.headerScrollUp {
    height: var(--header-scrolling-height);
    transform: translateY(0px);
    background-color: var(--darker-background);
    box-shadow: 0 10px 30px -10px var(--header-box-shadow-color);
}

.nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: #ccd6f6;
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
}

.topLinks {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.topLinks ol {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.link {
    margin: 0px 10px;
    position: relative;
    counter-increment: item 1;
    font-size: var(--fz-xs);
}

.link:hover {
    color: var(--fourth-color);
}

.link a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

.link a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--fourth-color);
    font-size: var(--fz-xxs);
    text-align: right;
}

.resume {
    color: var(--fourth-color);
    background-color: transparent;
    border: 1px solid var(--fourth-color);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xs);
}

.resume:hover {
    outline: none;
    box-shadow: 3px 3px 0 0 var(--fourth-color);
    transform: translate(-4px, -4px);
}

.hamburgerWrapper {
    display: none;
    position: relative;
}

.hamburger {
    z-index: 16;
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--fourth-color);
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: center;
    transform: rotate(180deg);
    -webkit-transition: var(--hamburger-transition);
    transition: var(--hamburger-transition);
}

.hamburger:after, .hamburger:before {
    -webkit-transition: var(--hamburger-transition);
    transition: var(--hamburger-transition);
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    background: var(--fourth-color);
}
  
.hamburger:before { 
    top: -10px;
    width: 80%;
}
  
.hamburger:after { 
    bottom: -10px;
    width: 120%;
}

.hamburger.hamburgerClicked {
    -webkit-transform: rotate(-180deg) translateX(-25%);
    transform: rotate(-180deg) translateX(-25%);
    width: 20px;
}

.hamburger.hamburgerClicked:after {
    width: 50%;
    -webkit-transform: rotate(135deg) translateY(-10px) translateX(-6px);
    transform: rotate(135deg) translateY(-10px) translateX(-6px);
    bottom: 0;
}

.hamburger.hamburgerClicked:before {
    width: 50%;
    -webkit-transform: rotate(-135deg) translateY(3px) translateX(-12px);
    transform: rotate(-135deg) translateY(3px) translateX(-12px);
}

.sideMenu {
    display: none;
    z-index: 15;
    position: fixed;
    background-color: black;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: min(75vw, 400px);
    height: 100vh;
    padding: 15% 10px;
    transition: var(--hamburger-transition);
    transform: translateX(100%);
    -webkit-box-pack: justify;
    justify-content:space-around;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    text-align: center;
}

.sideMenu ol {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 60%;
    list-style: none;
    flex-direction: column;
}

.sideMenu.sideMenuOpen {
    transform: translateX(0%);
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
}


@media (max-width: 780px) {
    .topLinks {
        display: none;
    }

    .sideMenu {
        display: flex;
    }

    .hamburgerWrapper {
        display: inherit;
    }

    .link a {
        font-size: var(--fz-md);
    }

    .resume {
        font-size: var(--fz-md);
    }
}