

.mail {
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transition: var(--transition);
}

.mail:hover {
    color: var(--fourth-color);
    transform: translateY(-3px);
}

@media (max-width: 780px) {
    .mail {
        transition: none;
    }
}

.flag {
    width: 20px;
    height: 20px;
    cursor: pointer;
}